.button {
    width: 100%;
    background: #e6e600;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
}

.button:disabled {
    background: #666;
    cursor: not-allowed;
}